Source: libtls-openbsd
Section: libs
Priority: optional
Maintainer: Maxim Zakharov <zakhma@muli.com.au>
Standards-Version: 4.1.4

Package: liblibtls-openbsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Portable Secure communications using the TLS socket protocol.
 This is a stanalone version of libtls from OpenBSD's LibreSSL
 built with OpenSSL.


